/***************ELEMENTS****************/

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}
body {
  font-family: 'Montserrat-Black', sans-serif;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

p {
 color: #8F8F8F;
}

/***************CLASSES****************/

.big-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.f-row {
  color: #EF8172;
  margin-bottom: 1rem;
}

.f-row:hover {
  color: #FF4C68;
}

.footer-links {
  text-align: center;
}

.phone-img {
  transform: rotate(25deg);
  width: 40%;
  position: absolute;
  right: 30%
}



.section-2 {
  padding: 5% 0 5% 0;
  text-align: center;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

.testimonial-img {
  border-radius: 100%;
  margin: 1em;
  width: 10%;
}
.press-img {
  margin: 0 20px 0 20px;
  width: 12%;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-card {
  padding: 1.5rem;
}

.footer-txt {
  padding: 0 30% 2%;
  font-size: 40px;
}

.footer-icon {
  padding: 0 1% 1%;
}

.footer-icon:hover {
  color: #FF4C68;
}




/***************IDS****************/

#cta {
  color: #FFF;
  background-color: #FF4C68;
  padding: 6% 0 6%;
  text-align: center;
}

#title {
  background-color: #FF4C68;
  color: white;
}

#features {
  background-color: #FFF;
  padding: 7% 15%;
  position: relative;
}

#testimonials {
  background-color: #EF8172;
  text-align: center;
  color: #FFF;
}

#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 7%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#footer {
  padding: 5.5% 0 5.5%;
  text-align: center;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
    transform: rotate(0);

  }

  .footer-icon {
    padding: 0 5%;
}
